<!DOCTYPE html>
<html lang="en">

    <!--head-->
    <%- include ("./partials/head")  %> 

<body>

    <!--header-->
    <%- include ("./partials/header")  %>

    <main>
            <section class="banner-index">

                <div class="logo-index">
                    <img class="img1" src="/img/logo3.png" alt=""> 
                </div>

                <div>
                    <img  class="img2" src="/img/off.jpg" alt="">
                    <p>DESCUENTOS INCREÍBLES</p>
                </div>

                <div>
                    <img  class="img3" src="/img/tarjeta.jpg" alt="">
                    <p>CUOTAS SIN INTERÉS</p>
                </div>

            </section>                
                
        

        <section class="main-section3">
            
            <% productos.forEach(element => { %>
            

                <article>
                    <a href="/productos/productDetail/<%= element.id %> ">
                        <img src="/img/imgProducts/<%=element.img%> " alt="">
                        <h3><%= element.marca %> </h3>
                        <p><%= element.modelo %> </p>
                        <p>ver detalle</p>
                    </a>
                    <p><%= element.precio %> </p>
                </article>

           
            <% }) %> 

        </section>

    </main>

    <!--footer-->
    <%- include ("./partials/footer")  %>

</body>
</html>