<!DOCTYPE html>
<html lang="en">

   <!--Head-->
   <%- include ("./partials/head")  %> 

   <body>

   <!--Header-->    
   <%- include ("./partials/header")  %>

   
    <main>
        <section class="formulario">

            <h2>Edición de productos</h2>

            <article class="editar-producto">

                
                <p>ID de producto: <%= producto.id %> </p>

                <img src="/img/imgProducts/<%= producto.img %>" alt="">   

                <form action="/administrador/productEdit/<%= producto.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                
                    <input value="<%= producto.marca %>" type="text" name="marca" id="marca" required placeholder="Marca" >
                    <input value="<%= producto.modelo %>" type="text" name="modelo" id="modelo" required placeholder="Modelo" >
                    <input value="<%= producto.precio %>" type="text" name="precio" id="precio" required placeholder="Precio">
                    <textarea name="detalle" id="detalle" required placeholder="Detalle de producto"><%= producto.detalle %></textarea> 
                    
                    <select name="categorias_id">
                        <% categorias.forEach(categoria => { %>
    
                            <% if (categoria.id === producto.categorias_id) { %>
                                <option value="<%= categoria.id %>" selected><%= categoria.nombre %></option>
                            <% } else { %>    
                                <option value="<%= categoria.id %> "><%= categoria.nombre %> </option>
                            <% } %>
    
                         
                        <% }) %>
                    
                    </select>
                    
                    <br>
                    <label for="file">Imagen de Producto</label>
                    <input type="file" name="img" id="img"  accept=".jpg, .png">
                    <button class="bottom-login" type="submit">MODIFICAR</button>  
                </form>

            </article>
            
            <article class="modificar-producto">

                
            </article>

        </section>

    </main>
    
    <!--Footer-->
    <%- include ("./partials/footer")  %> 
    
</body>
</html>