<!DOCTYPE html>
<html lang="en">

    <!--Head-->
    <%- include ("./partials/head")  %> 
    
    <body>

    <!--Header-->    
    <%- include ("./partials/header")  %>

    <main>
        <section class="formulario">

            <h2>REGISTRO</h2>
            
           
            <article>
                
                <form action="/users/register" method="POST" enctype="multipart/form-data" >

                    <label b>Nombre *</b></label>
                    <input 
                    class="nombre"
                    type="text" 
                    name="nombre"  
                    placeholder="Nombre"
                    required 
                    value="<%= locals.old ? old.nombre : ""  %>">
                    
                    <% if (locals.errors && errors.nombre) { %>
                        <div class="text-danger">
                            <%= errors.nombre.msg %> 
                        </div>
                    <% } %>

                    <br>

                    <label b>Apellido *</b></label>
                    <input 
                    class="apellido"
                    type="text" 
                    name="apellido" 
                    placeholder="Apellido"
                    required  
                    value="<%= locals.old ? old.apellido : ""  %>">
                    
                    <% if (locals.errors && errors.apellido) { %>
                        <div class="text-danger">
                            <%= errors.apellido.msg %> 
                        </div>
                    <% } %>
                    
                    <br>    

                    <label b>Documento *</b></label>
                    <input
                    class="documento" 
                    type="text" 
                    name="documento" 
                    placeholder="Documento" 
                    minlength='7' 
                    required 
                    value="<%= locals.old ? old.documento : ""  %>">
                    
                        <% if (locals.errors && errors.documento) { %>
                            <div class="text-danger">
                                <%= errors.documento.msg %> 
                            </div>
                        <% } %>
                    
                    <br>    

                    <label b>Fecha de Nacimiento *</b></label>    
                    <input 
                    class="fechaNacimiento"            
                    type="date" 
                    name="fechaNacimiento" 
                    required 
                    value="<%= locals.old ? old.fechaNacimiento : ""  %>">
                    
                        <% if (locals.errors && errors.fechaNacimiento) { %>
                            <div class="text-danger">
                                <%= errors.fechaNacimiento.msg %> 
                            </div>
                        <% } %>
                    
                    <br>    

                    <label b>Teléfono *</b></label>
                    <input 
                    class="telefono"
                    type="text" 
                    name="telefono" 
                    placeholder="Telefono" 
                    minlength='8' 
                    required 
                    value="<%= locals.old ? old.telefono : ""  %>">
                    
                        <% if (locals.errors && errors.telefono) { %>
                            <div class="text-danger">
                                <%= errors.telefono.msg %> 
                            </div>
                        <% } %>
                    
                    <br>    

                    <label b>Email *</b></label>
                    <input 
                    class="email"
                    type="text" 
                    name="email" 
                    placeholder="Email" 
                    minlength='5' 
                    required
                    onchange="document.querySelector('button').disabled = false" 
                    value="<%= locals.old ? old.email : ""  %>">
                    
                        <% if (locals.errors && errors.email) { %>
                            <div class="text-danger">
                                <%= errors.email.msg %> 
                            </div>
                        <% } %>
                    
                    
                    <br>    

                    <label b>Foto de Perfil</b></label>
                    <input type="file" name="img" >
                   
                    <br>    

                    <label b>Password *</b></label>
                    <input 
                    class="password"
                    type="password" 
                    name="password" 
                    placeholder="Paswword"
                    minlength='5' 
                    required> 
                    
                    <% if (locals.errors && errors.password) { %>
                        <div class="text-danger">
                            <%= errors.password.msg %> 
                        </div>
                    <% } %>
                        
                    <br>
                    
                    <button type="submit">CREAR USUARIO</button>

                </form>
                
            </article>
        </section>    

    </main>

    <script src="/js/userValidator/registerValidations.js"></script>

    <!--Footer-->
    <%- include ("./partials/footer")  %> 
    
</body>
</html>
